<link rel="stylesheet" href="/css/form-general.css">
<link rel="stylesheet" href="/css/login-register.css">

<h1> <%= title %> </h1>
<%- messages() %>

<% if (errors) { %>
        <ul class="notice">
    <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>

<div class="form-container">
<form id="loginForm" method="POST" action="/account/login">
    <label for="account_email">Email Address</label>
    <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">

    <label for="account_password">Password</label>
    <input type="password" name="account_password" id="account_password" required>

    <button type="submit">Login</button>
</form>
</div>

<div class="sign-up-link">
    <p>No account? <a href="/account/register">Sign up</a></p>
</div>
