/* .sign-up-link = div */
.sign-up-link {
    max-width: 500px;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sign-up-link p {
    text-align: center;
    font-size: 16px;
}