/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

@media screen and (min-width: 768px) {
  html{
        background-image: url('/images/site/checkerboard.jpg');
    }

    body{
        
        padding: 1rem;
        margin: 3rem;
        border: #17b5d6 5px solid;
        border-radius: 16px;
        background-color: white;
    }
  }