#detail-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.vehicle-type{
    text-align: left;
    font-size: 2em;
    margin-bottom: 10px;
    margin-left: 1rem;
}

#vehicle-detail-image{
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 16px;
}

#detail-info h2{
    font-size: 2em;
    margin: 10px 0;
}

#detail-specs{
    align-items: center;
    max-width: 500px;
    list-style-type: none;
    padding: 0;
}

#detail-specs li{
    margin: 8px 0;
    font-size: 1.5em;
    padding: 5px;
}

#detail-specs li:nth-child(odd){
    background-color: #f4f4f4;
    border-radius: 4px;
}

#detail-specs li strong{
    margin-right: 10px;
    display: inline-block;
}



@media screen and (min-width: 768px) {
    #vehicle-detail-image{
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 10px;
    }

    #detail-view{
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
    }
    
    #detail-specs{
        max-width: 1200px;
    }
}